
<h3>Brand:</h3><h1><%= @snowboard.brand %></h1>
<h3>Model:</h3><h1><%= @snowboard.name %></h1>
<h3>Price:</h3><h1>$<%= @snowboard.price %></h1>
<h3>Description:</h3><h1><%= @snowboard.description %></h1>
<h3>Contact:</h3><h1><%= @snowboard.contact %></h1>

<h3>Also comes with:</h3>

<ul>
<% @snowboard.addons.each do |addon| %>
<li><%= "#{addon.name} - #{addon.kind}" %>
  <span>
    <form action="/snowboards/<%=@snowboard.id %>/addons/<%=addon.id %>/delete" method="post">
      <input type="hidden" id="hidden" name="_method" value="delete">
      <input type="submit" class="btn btn-danger" value="Delete addon">
    </form>
  </span>
</li>
<% end %>
</ul>
<button class="btn btn-default"><a href="/snowboards/<%= @snowboard.id %>/addons/new">Add A New Addon</a></button>
<button class="btn btn-default"><a href="/snowboards/<%= @snowboard.id %>/edit">Edit Snowboard</a></button>

<form action="/snowboards/<%=@snowboard.id %>/delete" method="post">
<input type="hidden" id="hidden" name="_method" value="delete">
<input type="submit" class="btn btn-danger" value="delete snowboard">
</form>
